@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --black: #181818;
  --black-soft: #656565;
  --black-mute: #9999996d;
  --color-text: var(--black);
  --color-text-light: #ffffff;
  --accent: 61, 189, 148;
  --accent-dark: #137a63;
}



body {
  min-height: 100vh;
  color: var(--color-text);
  line-height: 1.6;
  font-family:'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
